@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

* {
    font-family: 'Libre Franklin', Arial;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: #8d99ae;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 24px;
}

p {
    font-size: 1.1rem;
    color: #edf2f4;
    text-align: center;
}

input {
    background-color: #ef233c;
    border-style: none;
    border-radius: 12px;
    padding: 10px 15px;
    color: #edf2f4;
    font-size: 1.1rem;
    text-decoration-color: #2b2d42;
    border: solid transparent 2.4px;
    width: 100%;
    margin: 0;
}

input[type=button] {
    background-color: #d90429;
    color: #edf2f4;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
}

input::placeholder {
    color: #edf2f4ce;
}

input:focus {
    outline: none;
    border: solid #d90429 2.4px;
}

.spacer15 {
    height: 15px;
}

.spacer18 {
    height: 18px;
}

.spacer20 {
    height: 20px;
}
